<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Daniel">

    <title>Its party time</title>

    <link rel="stylesheet" href="../Styles/Pages/spotify.css">
    <link rel="stylesheet" href="../Styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/7eb84d2f2f.js"></script>
    <script src="../Scripts/default.js"></script>
    <script src="../Scripts/spotify.js"></script>
  </head>
    <script>
        localStorage.setItem('isHost', 'false');
    </script>
    <% if (isHost) { %>
      <div id="pinBar"></div>

      <script>
        let pin = getPin();
        localStorage.setItem('isHost', 'True');
        $("#pinBar").append("Pin: " + pin);
        $("body").addClass("host")
      </script>
    <% } %>

  <body>
    <input id="searchInput" placeholder="Search" oninput="songSearch()"></input>
    <div id="searchResultsWrapper" onscroll="resultsScroll.call(this);"></div>
    <div id="nowPlayingWrapper">
      <div id="progress"></div>
      <div id="playingTrack">
        Nothing currently playing.
      </div>
    </div>
    <div class="footer">
      <span><i class="fas fa-search"></i></span>
      <span onclick="loadSettingsPage()"><i class="fas fa-cog"></i></span>
    </div>

    <div id="errorModal" class="modal mobile error hidden"> 
      <div id="errorMessage" class="text"></div>
      <div id="errorButton" class="button small" onclick="errorButtonClick();">Ok</div>
    </div>
  </body>
</html>
